<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../install/css/style.css">
    <script src="../install/js/script.js"></script>
</head>

<body onload="createPlayer('{{.Link}}')">
    <div id="video" class="video-style">
    </div>
</body>

</html>